.progress-bars-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-label {
    position: absolute;
    text-align: center;
    font-weight: 700;
    width: 100%;
    margin: 0;
    line-height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
}

.progress-bar {
    height: 1.2rem;
    float: left;
    background-color: #609BE2;
}

.progress {
    display: block;
    width: 100%;
    margin: .5rem 0;
    height: 1.2rem;
    background-color: #555555;
    color: black;
    position: relative;
}

.progress.thin {
    margin-top: .9rem;
    height: .4rem;
}

.progress.red {
    background-color: red !important;
}

.progress.green {
    background-color: green !important;
}

.progress.yellow {
    background-color: yellow !important;
}

.progress.blue {
    background-color: #514AFF !important;
}
